<div>
    <h2 id="page-heading">
        <span jhiTranslate="lgcApp.agence.home.title">Agences</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agence" [routerLink]="['/agence/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="lgcApp.agence.home.createLabel">
            Create a new Agence
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="agences?.length === 0">
        <span jhiTranslate="lgcApp.agence.home.notFound">No agences found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="agences && agences.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeAgence"><span jhiTranslate="lgcApp.agence.codeAgence">Code Agence</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="denominationAgence"><span jhiTranslate="lgcApp.agence.denominationAgence">Denomination Agence</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeAgence"><span jhiTranslate="lgcApp.agence.typeAgence">Type Agence</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="lgcApp.agence.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroWhatsapp"><span jhiTranslate="lgcApp.agence.numeroWhatsapp">Numero Whatsapp</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="lgcApp.agence.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="autreContact"><span jhiTranslate="lgcApp.agence.autreContact">Autre Contact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quartier"><span jhiTranslate="lgcApp.agence.quartier">Quartier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="arrondissement"><span jhiTranslate="lgcApp.agence.arrondissement">Arrondissement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commune"><span jhiTranslate="lgcApp.agence.commune">Commune</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="province"><span jhiTranslate="lgcApp.agence.province">Province</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="region"><span jhiTranslate="lgcApp.agence.region">Region</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="lgcApp.agence.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clientDenomination"><span jhiTranslate="lgcApp.agence.client">Client</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let agence of agences ;trackBy: trackId">
                    <td><a [routerLink]="['/agence', agence.id, 'view']">{{ agence.id }}</a></td>
                    <td>{{ agence.codeAgence }}</td>
                    <td>{{ agence.denominationAgence }}</td>
                    <td>{{ agence.typeAgence }}</td>
                    <td>{{ agence.telephone }}</td>
                    <td>{{ agence.numeroWhatsapp }}</td>
                    <td>{{ agence.email }}</td>
                    <td>{{ agence.autreContact }}</td>
                    <td>{{ agence.quartier }}</td>
                    <td>{{ agence.arrondissement }}</td>
                    <td>{{ agence.commune }}</td>
                    <td>{{ agence.province }}</td>
                    <td>{{ agence.region }}</td>
                    <td>
                        {{ agence.userLogin }}
                    </td>
                    <td>
                        <div *ngIf="agence.clientId">
                            <a [routerLink]="['/client', agence.clientId , 'view']" >{{ agence.clientDenomination }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/agence', agence.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/agence', agence.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(agence)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="agences && agences.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
